{% extends 'dashboard/base2.html' %}
{% block content %}

<div id="content-wrapper" style="padding-top: 35px"
{% include 'blog/includes/alerts.html' %}
{% if user.is_authenticated %}
{% if user.is_staff %}
<div class="col-12">
    {% if 'search' in request.path %}
	<h2 class="title-page">Search in the Users</h2>
    {% else %}
	<h2 class="title-page">-</h2>
    {% endif %}
    <div class="card recent-sales overflow-auto">
        <div class="col-auto text-right float-right ml-auto">
            <a href="{% url 'dashboard:user_create'  %}" class="btn btn-primary"><i class="fas fa-plus"></i></a> 
        </div>
        <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
        </div>
        <div class="col-lg  col-md-6 col-sm-12 col">
		<form action="{% url 'dashboard:search_users' %}" class="search">
			<div class="input-group w-100">
			    <input type="text" class="form-control" style="width:60%;" placeholder="Search by any name, phone, country of destination" name="keyword">

			    <div class="input-group-append">
			      <button class="btn btn-primary" type="submit">
			        <i class="fa fa-search"></i>
			      </button>
			    </div>
		    </div>
		</form> <!-- search-wrap .end// -->
	</div>
        <div class="card-body">
            <h5 class="card-title">All users</h5>
            <table class="table table-borderless datatable">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">User</th>
                        <th scope="col">telephone</th>
                        <th scope="col">email</th>
                        <th scope="col">Dest country</th>
                        <th scope="col">date last logged in</th>
                        <th scope="col">action</th>
                    </tr>
                </thead>
                {% if users %}
                {% for user in users %}
                <tbody>
                    <tr>
                        <th scope="row"><a href="{{ user.get_absolute_url }}">{{forloop.counter}}</a></th>
                        <td><a href="{{ user.get_absolute_url }}" class="text-primary"></a>{{ user.full_name }}</a></td>
                        <td><a href="tel:{{ user.full_name }}" id="number" class="" value="{{ user.phone }}" >{{ user.phone }}</a><button><i onclick="myFunction()" class="bi bi-clipboard"></i></button></td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.country_of_destination }}</td>
                        <td>{{ user.last_login }}</td>
                        <td class="text-right">
                            <div class="actions">
                                <a href="{% url 'dashboard:user_update' user.pk %}" class="btn btn-sm bg-success-light mr-2">
                                <i class="fas fa-pen"></i>
                                </a>
                                <a href="{% url 'dashboard:user_delete' user.pk %}" class="btn btn-sm bg-danger-light">
                                <i class="fas fa-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
                {% endif %}
            </table>
        </div>
    </div>
</div>
<div class="pagination">
    <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="?page=1">&laquo; first</a>
    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}
    <span class="current">
    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">next</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
    </span>
</div>
{% else %}
<p>It seems you are not logged in <a href="{% url 'account:login' %}" >login now</a></p>
{% endif %}
{% else %}
<p>It seems you dont have the permission to view this page </p>
{% endif %}
{% endblock content %}


<script>
    function myFunction() {
  // Get the text field
  var copyText = document.getElementById("number");

  // Select the text field
  copyText.select();
  copyText.setSelectionRange(0, 99999); // For mobile devices

   // Copy the text inside the text field
  navigator.clipboard.writeText(copyText.value);

  // Alert the copied text
  alert("Copied the text: " + copyText.value);
}
</script>


{% comment %} {% if profile.has_paid %}
<td class="text-right">
    <span class="badge badge-success">Paid</span>
</td>
{% else %}
<td class="text-right">
    <span class="badge badge-danger">Unpaid</span>
</td>
{% endif %} {% endcomment %}

{% comment %} <th>Currency Choice</th> {% endcomment %}

{% comment %} <th>status</th> {% endcomment %}



{% comment %} <td>{{ profile.amount_to_pay }}</td>
<td>{{ profile.currency_of_choice }}</td>
<td>{{ profile.amount_paid_so_far }}</td> {% endcomment %}




{% comment %} 
{% if self.amount_paid_so_far or self.amount_to_pay %}
    <td>{{ profile.get_balance }}</td>
    {% else %}
    <td>{{ balance }}</td>
    {% endif %} {% endcomment %}