{% extends 'blog/base.html' %}
{% block content %}

  <main id="main">
    <section>
        <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Short story About Cajetan Global</h2>
        </div>

        <div class="row content" data-aos="fade-up">
          <div class="col-lg-6">
            <p>
              We are Cajetan Global Visas we provide many visa in these countries USA, CANADA, Australia, Israel, Shengen, </br>
              whether you want to go to work or you want to go study or even staying forever, we will hold you hand pal😉, seriously </br>
              we provide:
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Working visa in all those country.</li>
              <li><i class="ri-check-double-line"></i> Studying Visa</li>
              <li><i class="ri-check-double-line"></i> Asylum visas </li>
              <li><i class="ri-check-double-line"></i> Medical and many others </li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Have you ever wished to visit the holy land of Israel or maybe hang out on the beach of miami, I mean who doesnt want that? </br>
              Raise your hands if you dont 🙌
              Am i sounding like am joking? Maybe but i am not 
              You will have fun working and dealing with us trust me sign up <a href="{% url 'accounts:logout' %}" class="btn-learn-more">here</a> , edit your profile {% if user.is_authenticated %}<a href="{% url 'dashboard:user_update' %}" class="btn-learn-more">here</a>{% endif %} then let us know what you are thing 
              {% comment %} The link of the profile is needed {% endcomment %}
            </p>
            <a href="{% url 'blog:about' %}" class="btn-learn-more">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    {% comment %} where news will go and posts and comments {% endcomment %}
    {% comment %} <section>
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-12 text-center mb-5">
            <div class="row justify-content-center">
              <div class="col-lg-6">
                <h2 class="display-4">Our Team</h2>
                <h3>Sign up to take advantage of our services</h3>
                <p>here</p>
                <small>Are you already a member? <a href="">login here</a></small>
              </div>
            </div>
          </div>
          {% if user.is_authenticated == True %} 
            {% if user.has_paid == True %}
          <div class="col-lg-4 text-center mb-5">
            <img src="cajetanglobal/img/person-1.jpg" alt="" class="img-fluid rounded-circle w-50 mb-4">
            <h4>This place will show the progress and it will render, print out the progress of the process</h4>
            <span class="d-block mb-3 text-uppercase">Founder &amp; CEO</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, perspiciatis repellat maxime, adipisci non ipsam at itaque rerum vitae, necessitatibus nulla animi expedita cumque provident inventore? Voluptatum in tempora earum deleniti, culpa odit veniam, ea reiciendis sunt ullam temporibus aut!</p>
          </div>


          <div class="col-lg-4 text-center mb-5">
            <img src="cajetanglobal/img/person-2.jpg" alt="" class="img-fluid rounded-circle w-50 mb-4">
            <h4>VISA NEWS, POSTS, INQUIRIES, THAT ARE APPROVED BY THE ADMIN</h4>
            <span class="d-block mb-3 text-uppercase">Founder, VP</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, perspiciatis repellat maxime, adipisci non ipsam at itaque rerum vitae, necessitatibus nulla animi expedita cumque provident inventore? Voluptatum in tempora earum deleniti, culpa odit veniam, ea reiciendis sunt ullam temporibus aut!</p>
          </div>


          <div class="col-lg-4 text-center mb-5">
            <img src="cajetanglobal/img/person-3.jpg" alt="" class="img-fluid rounded-circle w-50 mb-4">
            <h4>users can send messages to the admin here</h4>
            <span class="d-block mb-3 text-uppercase">users can send messages to the admin here</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, perspiciatis repellat maxime, adipisci non ipsam at itaque rerum vitae, necessitatibus nulla animi expedita cumque provident inventore? Voluptatum in tempora earum deleniti, culpa odit veniam, ea reiciendis sunt ullam temporibus aut!</p>
          </div>

          
          <div class="col-lg-4 text-center mb-5">
            <img src="cajetanglobal/img/person-4.jpg" alt="" class="img-fluid rounded-circle w-50 mb-4">
            <h4>Cameron Williamson</h4>
            <span class="d-block mb-3 text-uppercase">Editor Staff</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, perspiciatis repellat maxime, adipisci non ipsam at itaque rerum vitae, necessitatibus nulla animi expedita cumque provident inventore? Voluptatum in tempora earum deleniti, culpa odit veniam, ea reiciendis sunt ullam temporibus aut!</p>
          </div>
          <div class="col-lg-4 text-center mb-5">
            <img src="cajetanglobal/img/person-5.jpg" alt="" class="img-fluid rounded-circle w-50 mb-4">
            <h4>Cameron Williamson</h4>
            <span class="d-block mb-3 text-uppercase">Editor Staff</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, perspiciatis repellat maxime, adipisci non ipsam at itaque rerum vitae, necessitatibus nulla animi expedita cumque provident inventore? Voluptatum in tempora earum deleniti, culpa odit veniam, ea reiciendis sunt ullam temporibus aut!</p>
          </div>
          <div class="col-lg-4 text-center mb-5">
            <img src="cajetanglobal/img/person-6.jpg" alt="" class="img-fluid rounded-circle w-50 mb-4">
            <h4>Cameron Williamson</h4>
            <span class="d-block mb-3 text-uppercase">Editor Staff</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, perspiciatis repellat maxime, adipisci non ipsam at itaque rerum vitae, necessitatibus nulla animi expedita cumque provident inventore? Voluptatum in tempora earum deleniti, culpa odit veniam, ea reiciendis sunt ullam temporibus aut!</p>
          </div>
          {% endif %}
          {% endif %}
        </div>
      </div>
    </section> {% endcomment %}

  </main><!-- End #main -->
  {% endblock content %}