
{% extends "blog/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Account Activation Resent" %}{% endblock %}

{% block content %}
<div class="main-wrapper login-body " >
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 mb-3 mt-5">
        <div class="col-12 mb-3">
            <div id="content-wrapper" style="padding-top: 45px">
              <div class="container-fluid">
                  <div class="card mb-3 d-flex align-items-center justify-content-center">
                    <div class="card-body">
                        <div class="card-footer">
                          <div class="d-flex justify-content-center">
                              <p>{% blocktrans %}
                                We have sent an email to {{ email }} with further instructions.
                                {% endblocktrans %}</p>
                          </div>
                        </div>
                    </div>
                  </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}




{% comment %}
**registration/resend_activation_complete.html**
Used after form for resending account activation is submitted. By default has
the following context:

``email``
    The email address submitted in the resend activation form.
{% endcomment %}
