{% extends 'dashboard/base2.html' %}
{% block content %}
<div id="content-wrapper" style="padding-top: 35px"
{% include 'blog/includes/alerts.html' %}

{% if user.is_authenticated %}
{% if user.is_staff %}
<div class="col-12">
              <div class="card recent-sales overflow-auto">
              <div class="col-auto text-right float-right ml-auto">
               <a href="{% url 'dashboard:document_create'  %}" class="btn btn-primary"><i class="fas fa-plus"></i></a> 
               </div>

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">All documents <span>| Today</span></h5>


                  <table class="table table-borderless datatable">
                   
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">profile</th>
                        <th scope="col">document name</th>
                        <th scope="col">date submitted</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    {% if documents %}
                    {% for document in documents %}
                   
                    <tbody>
                      <tr>
                        <th scope="row"><a href="{{ document.get_absolute_url }}">{{forloop.counter}}</a></th>
                        <td>{{ document.document_owner }}</td>
                        <td><a href="{{ document.get_absolute_url }}" class="text-primary">{{ document.reason }}</a></td>
                        <td>${{ document.document_name }}</td>
                        <td>${{ document.date_submitted }}</td>
                        {% if document.document %}
                        <td><span class="badge bg-success">uploaded</span></td>
                        {% else  %}
                        <td><span class="badge bg-danger">submitted</span></td>
                        {% endif %}
                        <td class="text-right">
                            <div class="actions">
                                <a href="{% url 'dashboard:document_update' document.pk %}" class="btn btn-sm bg-success-light mr-2">
                                <i class="fas fa-pen"></i>
                                </a>
                                <a href="{% url 'dashboard:document_delete' document.pk %}" class="btn btn-sm bg-danger-light">
                                <i class="fas fa-trash"></i>
                                </a>
                            </div>
                        </td>
                      </tr>
                    </tbody>
                    {% endfor %}
                    {% endif %}
                  </table>

                </div>

              </div>
            </div>

            <div class="pagination">
                              <span class="step-links">
                                  {% if page_obj.has_previous %}
                                      <a href="?page=1">&laquo; first</a>
                                      <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                                  {% endif %}
                          
                                  <span class="current">
                                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                  </span>
                          
                                  {% if page_obj.has_next %}
                                      <a href="?page={{ page_obj.next_page_number }}">next</a>
                                      <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                                  {% endif %}
                              </span>
                          </div>
            {% endif %}
            {% endif %}
            {% endblock content %}