{% extends 'dashboard/base2.html' %}
{% block content %}
<div id="content-wrapper" style="padding-top: 35px"
{% include 'blog/includes/alerts.html' %}
{% if user.is_authenticated %}
{% if user.is_staff %}
{% if 'search' in request.path %}
	<h2 class="title-page">Search in the transactions</h2>
{% else %}
	<h2 class="title-page">-</h2>
{% endif %}
<div class="col-12">
 <div class="col-lg  col-md-6 col-sm-12 col">
		<form action="{% url 'dashboard:search_transactions' %}" class="search" method="get">
			<div class="input-group w-100">
			    <input type="text" class="form-control" style="width:60%;" placeholder="Search by service (ie:transport) any name, phone, country of destination" name="keyword">

			    <div class="input-group-append">
			      <button class="btn btn-primary" type="submit">
			        <i class="fa fa-search"></i>
			      </button>
			    </div>
		    </div>
		</form> <!-- search-wrap .end// -->
	</div>
    <div class="card recent-sales overflow-auto">
        <div class="col-auto text-right float-right ml-auto">
            <a href="{% url 'dashboard:transaction_create'  %}" class="btn btn-primary"><i class="fas fa-plus"></i></a> 
        </div>
        <div class="card-body">
            <h5 class="card-title">All transactions <span>| Today</span></h5>
            <table class="table table-borderless datatable">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">profile</th>
                        <th scope="col">service</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Status</th>
                        <th scope="col">Amount to pay </th>
                        <th scope="col">Balance </th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                {% if transactions %}
                {% for transaction in transactions %}
                <tbody>
                    <tr>
                        <th scope="row"><a href="{{ transaction.get_absolute_url }}">{{forloop.counter}}</a></th>
                        <td><a href="{{ transaction.get_absolute_url }}">{{ transaction.profile }}</a></td>
                        <td>{{ transaction.reason }}</td>
                        <td>${{ transaction.amount_paid_or_paying }}</td>
                        {% ifequal transaction.status 'in' %}
                        <td><span class="badge bg-success">IN</span></td>
                        {% endifequal %}
                        {% ifequal transaction.status 'pending' %}
                        <td><span class="badge bg-warning">Pending</span></td>
                        {% endifequal %}
                        {% ifequal transaction.status 'out' %}
                        <td><span class="badge bg-danger">OUT</span></td>
                        {% endifequal %}
                        <td><a href="" >{{ transaction.amount_to_pay }}</a></td> 
                        <!-- class="text-primary" -->
                        {% comment %} <td><a href="" >{{ balance }}</a></td>  {% endcomment %}
                        <td><a href="" >{{ transaction.get_balance }}</a></td> 
                        <td class="text-right">
                            <div class="actions">
                                <a href="{% url 'dashboard:transaction_update' transaction.pk %}" class="btn btn-sm bg-success-light mr-2">
                                <i class="fas fa-pen"></i>
                                </a>
                                <a href="{% url 'dashboard:transaction_delete' transaction.pk %}" class="btn btn-sm bg-danger-light">
                                <i class="fas fa-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
                {% endif %}
            </table>
        </div>
    </div>
</div>
<div class="pagination">
    <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="?page=1">&laquo; first</a>
    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}
    <span class="current">
    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">next</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
    </span>
</div>
{% else %}
<p>It seems you are not logged in <a href="{% url 'account:login' %}" >login now</a></p>
{% endif %}
{% else %}
<p>It seems you dont have permission to view this page </p>
{% endif %}
{% endblock content %}





{% comment %} <tr>
<td>Totals</td>
<td>--</td>
<td>--</td>
<td>--</td>
<td>--</td>
<td>--</td>
<td>--</td>
<td>{{ all_total_amount_to_pay }}</td>
<td>--</td>
<td>{{all_total_amount_paid_so_far}}</td>
<td>{{all_total_balance}}</td>
<td></td>
</tr> {% endcomment %}