{% autoescape off %}
<!doctype html>
<html lang="en">

<head>
    <title>{{ domain }} </title>
</head>

<body>
<p>
    
    Hi {{ user.first_name }}
    You have asked to reset your password for your account on 
    {{ domain }} click the link below to activate
    https://{{domain}}{% url 'resetpassword_validate' uidb64=uid token=token %}

     If this wasn't you, please ignore this email
    and your address will be removed from our records.
</p>
<p>
    To activate this account, please click the following link above or it will expire soon
    
</p>

</p>
</body>

</html>

{% autoescape  %}

