{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
  <main id="main">
<section id="search-result" class="search-result">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <h3 class="category-title">All blogs </h3>
            {% for blog in object_list %}
            <ul>
            <div class="d-md-flex post-entry-2 small-img">
              <a href="{% url 'blog:category_detail' slug=blog.slug category=categories.slug %}" class="me-4 thumbnail">
                <img src="{{ blog.image.url }}" alt="" class="img-fluid">
              </a>
              <li>
              <div>
                <div class="post-meta"><span class="date">{{ blog.category_name }}</span> <span class="mx-1">&bullet;</span> <span>{{ blog.date_posted }}</span></div>
                <p>{{ blog.content|truncatechars:200 }}</p>
                <div class="d-flex align-items-center author">
                  <div class="photo"><img src="{{ blog.image.url }}  " class='img-responsive' style='width:100%; float:left; margin-right;10%' alt="" class="img-fluid"></div>
                </div>
              </div>
              </li>
            </div>
            {% endfor %}
            </ul>
            <div class="d-md-flex post-entry-2 small-img"><a href="{% url 'blog:blog_add' category=category.slug blog=blog.slug  %}" class="btn btn-primary"><small>add a blog</small></a>
          </div>
        </div>
      </div>
    </section> <!-- End Search Result -->
{% endblock content %}

  