{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
  <main id="main">

    <!-- ======= Hero Slider Section ======= -->
    
    <section id="hero-slider" class="hero-slider">
      <div class="container-md" data-aos="fade-in">
        <div class="row">
          <div class="col-12">
            <div class="swiper sliderFeaturedPosts">
              <div class="swiper-wrapper">
                {% for blog in blog_list %}
                <div class="swiper-slide">
                  <!-- the link below will be changed to a dynamic links with a shared template of many differnt topics to be in this slider -->
                    <a href="single-post.html" class="img-bg d-flex align-items-end" style="background-image: url('{{ blog.get_image }}')50% 50% no-repeat;">
                    <div class="img-bg-inner">
                      <h2>{{ blog.title }}</h2>
                      <p>{{ blog.content|truncatechars:255 }}</p>
                    </div>
                  </a>
                </div>
                {% endfor %}
              </div>
              <div class="custom-swiper-button-next">
                <span class="bi-chevron-right"></span>
              </div>
              <div class="custom-swiper-button-prev">
                <span class="bi-chevron-left"></span>
              </div>

              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <!-- End Hero Slider Section -->

    <!-- ======= Post Grid Section ======= -->
    <section id="posts" class="posts">
      <div class="container" data-aos="fade-up">
        <div class="row g-5">
          <div class="col-lg-4">
            <div class="post-entry-1 lg">
              <a href="single-post.html"><img src="{% static 'cajetanglobal/img/post-landscape-1.jpg' %}" alt="" class="img-fluid"></a>
              <div class="post-meta"><span class="date">Working Visa</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
              <h2><a href="single-post.html">What Is a Work Visa?</a></h2>
              <p class="mb-4 d-block">Work visas are required for individuals who wish to take on employment or engage in business activities in the host country. There are several types of work visas that depend on the nature of the work and length of stay. For example, working holiday visas allow individuals to temporarily take on employment while travelling through the country.</p>

              <div class="d-flex align-items-center author">
                <div class="photo"><img src="{% static 'cajetanglobal/img/person-1.jpg' %}" alt="" class="img-fluid"></div>
                <div class="name">
                  <h3 class="m-0 p-0">Cajetan Global Visa</h3>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-8">
            <div class="row g-5">
              <div class="col-lg-4 border-start custom-border">
                <div class="post-entry-1">
                  <a href=""><img src="{% static 'cajetanglobal/img/post-landscape-2.jpg' %}" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">Transit Visa</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                  <h2><a href="">Travellers may sometimes require transit visas in order to pass through a country that is not their destination country.</a></h2>
                </div>
                <div class="post-entry-1">
                  <a href=""><img src="{% static 'cajetanglobal/img/post-landscape-5.jpg' %}" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">Food</span> <span class="mx-1">&bullet;</span> <span>Jul 17th '22</span></div>
                  <h2><a href="">Will you return to your home country after your visit??</a></h2>
                </div>
                <div class="post-entry-1">
                  <a href=""><img src="{% static 'cajetanglobal/img/post-landscape-7.jpg' %}" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">Holiday Visa</span> <span class="mx-1">&bullet;</span> <span>Mar 15th '22</span></div>
                  <h2><a href="">Working holiday visas allow the bearer to undertake temporary employment in a country through which they are travelling. </a></h2>
                </div>
              </div>
              <div class="col-lg-4 border-start custom-border">
                <div class="post-entry-1">
                  <a href=""><img src="{% static 'cajetanglobal/img/post-landscape-3.jpg' %}" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">working visa</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                  <h2><a href="">What Are Visa Processing Times?Every country processes visa applications at a different rate. </a></h2>
                </div>
                <div class="post-entry-1">
                  <a href="#"><img src="{% static 'cajetanglobal/img/post-landscape-6.jpg' %}" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">What Is an eVisa?</span> <span class="mx-1">&bullet;</span> <span>Mar 1st '22</span></div>
                  <h2><a href="#">An eVisa, or electronic visa, is a digital visa that is stored in a database rather than stamped or glued into the bearer’s passport. </a></h2>
                </div>
                <div class="post-entry-1">
                  <a href="#"><img src="{% static 'cajetanglobal/img/post-landscape-8.jpg' %}" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">What Is a Spousal Visa?</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                  <h2><a href="#">Spousal visas allow partners to visit each other when the couple does not hail from the same country.</a></h2>
                </div>
              </div>

              <!-- Trending Section -->
              <div class="col-lg-4">

                <div class="trending">
                  <h3>Refugee/Asylum Visa</h3>
                  <ul class="trending-post">
                    <li>
                      <a href="single-post.html">
                        <span class="number">1</span>
                        <h3>Refugee visas and asylum visas can be granted to individuals fleeing persecution, war, natural disasters and other situations in which their life is at risk.</h3>
                        <span class="author">Cajetan Global Visa</span>
                      </a>
                    </li>
                    <li>
                      <a href="single-post.html">
                        <span class="number">2</span>
                        <h3>Travel visas can be separated into two categories: immigrant and nonimmigrant. Immigrant visas allow the bearer to reside permanently in the host country, whereas nonimmigrant visas allow the bearer entry into the host country on a temporary basis.</h3>
                        <span class="author">Cajetan Global Visa</span>
                      </a>
                    </li>
                    <li>
                      <a href="single-post.html">
                        <span class="number">3</span>
                        <h3>Your career goals don’t have limits, so why should your job search? Take your career beyond borders by finding work abroad this year!</h3>
                        <span class="author">Cajetan Global Visa</span>
                      </a>
                    </li>
                    <li>
                      <a href="single-post.html">
                        <span class="number">4</span>
                        <h3>What Are the Fees for Obtaining a Visa?</h3>
                        <span class="author">Cajetan Global Visa</span>
                      </a>
                    </li>
                    <li>
                      <a href="single-post.html">
                        <span class="number">5</span>
                        <h3>prior to finding jobs abroad, you can also travel on a tourist visa,</h3>
                        <span class="author">Cajetan Global Visa</span>
                      </a>
                    </li>
                  </ul>
                </div>

              </div> <!-- End Trending Section -->
            </div>
          </div>

        </div> <!-- End .row -->
      </div>
    </section> <!-- End Post Grid Section -->

    <!-- ======= Travelling Visa Category Section ======= -->
    <section class="category-section">
      <div class="container" data-aos="fade-up">

        <div class="section-header d-flex justify-content-between align-items-center mb-5">
          <h2>Travelling Visa</h2>
          <div><a href="category.html" class="more">See All Travelling Visa</a></div>
        </div>

        <div class="row">
          <div class="col-md-9">

            <div class="d-lg-flex post-entry-2">
              <a href="" class="me-4 thumbnail mb-4 mb-lg-0 d-inline-block">
                <img src="{% static 'cajetanglobal/img/post-landscape-6.jpg' %}" alt="" class="img-fluid">
              </a>
              <div>
                <div class="post-meta"><span class="date">How Do I Apply for a Visa?</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                <h3><a href="">If your destination dont require visa on arriva?</a></h3>
                <p>Once you’ve found and read all the information, including the visa application requirements, fill out the required travel visa application form. You may be able to send in the form electronically or you may be required to send it by mail.</p>
                <div class="d-flex align-items-center author">
                  <div class="photo"><img src="{% static 'cajetanglobal/img/cajetan-2.png' %}" alt="" class="img-fluid"></div>
                  <div class="name">
                    <h3 class="m-0 p-0">Cajetan Global Visa</h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4">
                <div class="post-entry-1 border-bottom">
                  <a href="single-post.html"><img src="cajetanglobal/img/post-landscape-1.jpg' %}" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">What Are the Requirements for a Visa?</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                  <h2 class="mb-2"><a href="single-post.html">Each country has its own visa application requirements.</a></h2>
                  <span class="author mb-3 d-block">Cajetan Global Visa</span>
                  <p class="mb-4 d-block">Requirements typically include filling out the visa application form, providing your passport for stamping if required, a photograph, and additional documents such as your flight itinerary, hotel booking or letter of invitation.</p>
                </div>

                <div class="post-entry-1">
                  <div class="post-meta"><span class="date">Travelling Visa</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                  <h2 class="mb-2"><a href="single-post.html">5 Great Startup Tips for Female Founders</a></h2>
                  <span class="author mb-3 d-block">Cajetan Global Visa</span>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="post-entry-1">
                  <a href="single-post.html"><img src="cajetanglobal/img/post-landscape-2.jpg' %}" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">What Is an Invitation Letter for a Visa?</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                  <h2 class="mb-2"><a href="single-post.html">Some countries, such as Canada and the United States, may require the visitor to include a letter of invitation with their travel visa application</a></h2>
                  <span class="author mb-3 d-block">Cajetan Global Visa</span>
                  <p class="mb-4 d-block">A letter of invitation is a formal letter from the person you intend to visit stating that they are inviting you to visit them in that country. </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="post-entry-1 border-bottom">
              <div class="post-meta"><span class="date">What to Expect During a Visa Interview?</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="single-post.html">Once you have filed your visa application, you may be requested to submit to a visa interview by the country you intend to visit.</a></h2>
              <span class="author mb-3 d-block">Cajetan Global Visa</span>
            </div>

            <div class="post-entry-1 border-bottom">
              <div class="post-meta"><span class="date">Visa Interview</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="single-post.html">Most visa applications are approved or denied without the need for an interview, but the visa officer may request one.</a></h2>
              <span class="author mb-3 d-block">Cajetan Global Visa</span>
            </div>

            <div class="post-entry-1 border-bottom">
              <div class="post-meta"><span class="date">The following are common questions you may be asked during a visa interview:</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="single-post.html">Why do you want to travel to X country?</a></h2>
              <span class="author mb-3 d-block">Cajetan Global Visa</span>
            </div>

            <div class="post-entry-1 border-bottom">
              <div class="post-meta"><span class="date">Visa Interview</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="single-post.html">Why do you want to visit at this specific time?</a></h2>
              <span class="author mb-3 d-block">Cajetan Global Visa</span>
            </div>

            <div class="post-entry-1 border-bottom">
              <div class="post-meta"><span class="date">Visa Interview</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="single-post.html">Are you travelling with someone else?</a></h2>
              <span class="author mb-3 d-block">Cajetan Global </span>
            </div>

            <div class="post-entry-1 border-bottom">
              <div class="post-meta"><span class="date">Visa Interview</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="single-post.html">Who will you be visiting?</a></h2>
              <span class="author mb-3 d-block">Cajetan Global Visas</span>
            </div>
          </div>
        </div>
      </div>
    </section>

    
  </main><!-- End #main -->
{% endblock content %}

  