{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="main-wrapper login-body " >
  <div class="container-fluid">
    <div class="row">
    <div id="content-wrapper" style="padding-top: 65px"
    <div class="container-fluid">
        <div class="row">
    <section id="about" class="about">

        <div class="carousel-item active" style="">
                <div class="carousel-container">
                <div class="carousel-content">
                    <h2 class="animate__animated animate__fadeInDown"><span>welcome</span> on cajetan global</h2>
                    <h3><p class="animate__animated animate__fadeInUp">This page is under development Please come back after a few days, we are sorry for the incovinience 😓😓 </p><h3>
                </div>
                </div>
            </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>

{% endblock content %}