{% extends 'dashboard/base2.html' %}
{% block content %}


<div>
   <div class="row" >
   {% if user.is_authenticated %}
   {% if user.is_staff or user.is_superuser %}
      <div class="col-xl-3 col-sm-6 col-12 d-flex">
         <div class="card bg-nine w-100">
            <div class="card-body">
            
               <div class="db-widgets d-flex justify-content-between align-items-center">
                  <div class="db-icon">
                     <i class="fas fa-user"></i>
                  </div>
                  <div class="db-info">
                     <h3>{{ all_users }}</h3>
                     <h6>All users</h6>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 d-flex">
         <div class="card bg-six w-100">
            <div class="card-body">
               <div class="db-widgets d-flex justify-content-between align-items-center">
                  <div class="db-icon">
                     <i class="fas fa-user"></i>
                  </div>
                  <div class="db-info">
                  <h3>{{all_profiles}}</h3>
                     <h6>All profiles</h6>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 d-flex">
         <div class="card bg-ten w-100">
            <div class="card-body">
               <div class="db-widgets d-flex justify-content-between align-items-center">
                  <div class="db-icon">
                     <i class="far fa-Handshake"></i>
                  </div>
                  <div class="db-info">
                     <h3>{{all_paid_profiles}}</h3>
                     <h6>Paid members</h6>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 d-flex">
         <div class="card bg-ten w-100">
            <div class="card-body">
               <div class="db-widgets d-flex justify-content-between align-items-center">
                  <div class="db-icon">
                     <i class="fas fa-money" aria-hidden = 'true'></i>
                  </div>
                  <div class="db-info">
                     <h3>{{total_revenues}}</h3>
                     <h6>Cash memo </h6>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 d-flex">
         <div class="card bg-ten w-100">
            <div class="card-body">
               <div class="db-widgets d-flex justify-content-between align-items-center">
                  <div class="db-icon">
                     <i class=""></i>
                  </div>
                  <div class="db-info">
                     <h3>{{total_expenses}}</h3>
                     <h6>Cash out </h6>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 d-flex">
         <div class="card bg-ten w-100">
            <div class="card-body">
               <div class="db-widgets d-flex justify-content-between align-items-center">
                  <div class="db-icon">
                     <i class='fa fa-handshake-o'></i>
                  </div>
                  <div class="db-info">
                     <h3>{{total_profits}}</h3>
                     <h6>Cash added </h6>
                  </div>
               </div>
            </div>
         </div>
      </div>
      
      <div class="col-xl-3 col-sm-6 col-12 d-flex">
         <div class="card bg-eleven w-100">
            <div class="card-body">
               <div class="db-widgets d-flex justify-content-between align-items-center">
                  <div class="db-icon">
                     <i class="fas fa-users"></i>
                  </div>
                  <div class="db-info">
                     <h3>0</h3>
                     <h6>Passed members</h6>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="card-body">
               <div id="revenue_expense">
                  <div class="col-md-6 col-lg-6">
                     <div class="card card-chart">
                        <div class="card-header">
                           <div class="row align-items-center">
                              <div class="col-6">
                                 <h5 class="card-title">The revenue and expenses</h5>
                              </div>
                              <div class="col-6">
                                 <ul class="list-inline-group text-right mb-0 pl-0">
                                    <li class="list-inline-item">
                                       <div class="form-group mb-0 amount-spent-select">
                                          <select class="form-control form-control-sm">
                                             <option>Today</option>
                                             <option>Last Week</option>
                                             <option>Last Month</option>
                                          </select>
                                       </div>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
      {% comment %} <div class="col-xl-3 col-sm-6 col-12 d-flex">
         <div class="card bg-eleven w-100">
            <div class="card-body">
               <div class="db-widgets d-flex justify-content-between align-items-center ">
                  <div class="db-icon bg-danger">
                     <i class="fas fa-users"></i>
                  </div>
                  <div class="db-danger ">
                     <h3> {{all_rejected}} </h3>
                     <h6>rejected members</h6>
                  </div>
               </div>
            </div>
         </div>
      </div> {% endcomment %}
   </div>
<div class="row">
   <div class="row">
      <div class="col-12 col-lg-12 col-xl-9">
         <div class="row">
            <div class="col-12 col-lg-12 col-xl-8 d-flex">
               <div class="card flex-fill">
                  <div class="card-header">
                     <div class="row align-items-center">
                        <div class="col-6">
                           <h5 class="card-title">All data chart</h5>
                        </div>
                        <div class="col-6">
                           <ul class="list-inline-group text-right mb-0 pl-0">
                              <li class="list-inline-item">
                                 <div class="form-group mb-0 amount-spent-select">
                                    <select class="form-control form-control-sm">
                                       <option>Weekly</option>
                                       <option>Monthly</option>
                                       <option>Yearly</option>
                                    </select>
                                 </div>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="card-body">
                  <div id="all_data"></div>
                  </div>
               </div>
            </div>
         
            <div class="col-12 col-lg-12 col-xl-8 d-flex">
               <div class="card flex-fill">
                  <div class="card-header">
                     <div class="row align-items-center">
                        <div class="col-6">
                           <h5 class="card-title">Revenue Charts</h5>
                        </div>
                        <div class="col-6">
                           <ul class="list-inline-group text-right mb-0 pl-0">
                              <li class="list-inline-item">
                                 <div class="form-group mb-0 amount-spent-select">
                                    <select class="form-control form-control-sm">
                                       <option>Weekly</option>
                                       <option>Monthly</option>
                                       <option>Yearly</option>
                                    </select>
                                 </div>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="card-body">
                  <div id="profits_expenses"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
 </div>
</div>
   {% else %}
<p>It seems you are not logged in <a href="{% url 'accounts:login' %}" >login now</a></p>
{% endif %}
{% else %}
<p>It seems you dont have the permission to view this page </p>
{% endif %}
   </div>
</div>

{% include "dashboard/includes/chart.html" %} 
{% endblock %}
