{% extends 'dashboard/base2.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div id="content-wrapper" style="padding-top: 35px"
{% if user.is_authenticated %}
{% if user.is_staff %}
<div class="row">
    <div class="col-sm-12">
       <div class="card">
          <div class="card-body">
            <div class="card-body">
                {% for message in messages %}
                   <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                       {{ message }}
                   </div>
               {% endfor %}
            </div>
            {% if users %}
            <center><p class="text-danger">Expense Update</p></center>
            {% else %}
            <div class="row">
                   <div class="col-12">
                      <h5 class="form-title">
                         <span>Expense Update </span>
                      </h5>
                   </div>
             <form method="post", action="{% url 'dashboard:expense_update' expense.pk %}">
               {% csrf_token %}
                
                   {{ form|crispy}}


                
                </div>
                <div class="col-12 col-sm-12">
                    <button type="submit" class="btn btn-primary col-12 col-sm-12">
                    Save
                    </button>
                 </div>
             </form>
          </div>
          {% endif %}
       </div>
    </div>
 </div>
 {% else %}
<p>It seems you are not logged in <a href="{% url 'auth_login' %}" >login now</a></p>
{% endif %}
{% else %}
<p>It seems you dont have the permission to view this page </p>
{% endif %}
</div>
{% endblock content %}


