{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="main-wrapper login-body align-items-center justify-content-center" style="vertical-align:center;" >
<div class="container-fluid">
   <div class="row">
      <div class="col-12 mb-3 mt-5">
         <div class="col-12 mb-3">
            <div id="content-wrapper " class="align-items-center justify-content-center" style="padding-top: 45px">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="card">
                        <div class="card-body">
                        {% if messages%}
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                          {{ message }}
                        </div>
                        {% endfor %}
                        {% endif %}

                           <form method="post" action="{% url 'dashboard:user_update' %}" enctype="multipart/form-data">
            
                           {% csrf_token %}
                              <div class="row ">
                                 <div class="col-12">
                                    <h5 class="form-title">
                                       <span>Profile Update </span>
                                    </h5>
                                 </div>
                                </div>

                                 <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Passport Picture</label>
                                       <input type="file" class="form-control" name="avatar" />
                                    </div>
                                 </div>

                                 <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Passport document</label>
                                       <input type="file" class="form-control" name="passport_document"/>
                                    </div>
                                 </div>
    

                                 <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>First Name</label>
                                       <input type="text" class="form-control" name="first_name" value = "{{ user.first_name }}" placeholder = "{{ user.first_name }}"/>
                                    </div>
                                 </div>
                                 <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Last name </label>
                                       <input type="text" class="form-control" name="last_name"  placeholder = "{{ user.last_name }}"/>
                                    </div>
                                 </div>

                                 <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Birthday </label>
                                       <input type="text" class="form-control" name="birth_date"  placeholder = "{{ user.birth_date }}"/>
                                    </div>
                                 </div>

                                 <div class="col-12 col-sm-6">
                                 <select class="custom-select col-md-5" name="gender" id="gender" >
                                    <option disabled selected value="{{user.gender}}">Gender </option>
                                    {% comment %} <option value="{{user.gender}}" selected>{{user.gender}}" </option> {% endcomment %}
                                    <option>Male</option>
                                    <option>Female</option>
                           
                                 </select>
                                 </div>

                                 <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Email</label>
                                       <input type="text" class="form-control" name="email" readonly value = "{{ user.email }}" placeholder = "{{ user.email }}"/>
                                    </div>
                                 </div>

                                 <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Phone Number</label>
                                       <input type="text" class="form-control" name="phone" readonly value = "{{ user.phone }}" placeholder = "{{ user.phone }}" />
                                    </div>
                                 </div>

                                 <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Country of Orgin</label>
                                       <input type="text" class="form-control" name="country_of_orgin" value = "{{ user.country_of_orgin }}" placeholder = "{{ user.country_of_orgin }}"/>
                                    </div>
                                 </div>

                                 <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Next of Kin </label>
                                       <input type="text" class="form-control" name="next_of_kin" value = "{{ user.next_of_kin }}" placeholder = "{{ user.next_of_kin }}"/>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Next of Kin phone </label>
                                       <input type="text" class="form-control" name="next_of_kin_phone" value = "{{ user.next_of_kin_phone }}" placeholder = "{{ user.next_of_kin_phone }}"/>
                                    </div>
                                 </div>

                                <div class="col-12 col-sm-6">
                                 <select class="custom-select col-md-5" name="country_of_destination" id="user_type">
                                    <option disabled selected value="{{user.country_of_destination}}">Country of destination </option>
                                    <option>Australia</option>
                                    <option>Canada</option>
                                    <option>USA</option>
                                    <option>Shengen</option>
                                    <option>Israel</option>
                                 </select>
                                 </div>
                                 <div class="col-12 col-sm-6">
                                 <select class="custom-select col-md-5" name="currency_of_choice" id="user_type">
                                    <option disabled selected value="{{user.currency_of_choice}}">Currency of choice </option>
                                    <option>USD</option>
                                    <option>Ugandan Shillings</option>
                                    <option>Naira</option>
                                    <option>Euro</option>
                                 </select>
                                 </div>

                                 <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Nationality </label>
                                       <input type="text" class="form-control" name="nationality" placeholder="{{ user.nationality }}" value = "{{ user.nationality }}"/>
                                    </div>
                                 </div>

                                  <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" name="password" placeholder="!!!!!!Only if you want to change!!!!" />
                                    </div>
                                </div>

                              <div class="col-12 col-sm-12">
                                 <button type="submit" class="btn btn-primary col-12 col-sm-12">
                                 Update profile
                                 </button>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
 </div>
{% endblock content %}